S3method(update,tbl_sqlserver)
export(brief_desc.src_sqlserver)
export(collapse.tbl_sqlserver)
export(copy_to.src_sqlserver)
export(escape_ident.SQLServerConnection)
export(inner_join.tbl_sqlserver)
export(left_join.tbl_sqlserver)
export(mutate.tbl_sqlserver)
export(sql_begin_trans.SQLServerConnection)
export(sql_commit.SQLServerConnection)
export(sql_select.SQLServerConnection)
export(src_sqlserver)
export(summarise.tbl_sqlserver)
export(tbl.src_sqlserver)
export(translate_env.src_sqlserver)
import(assertthat)
import(dplyr)
import(stringr)
