S3method(collapse,tbl_sqlserver)
S3method(copy_to,src_sqlserver)
S3method(inner_join,tbl_sqlserver)
S3method(left_join,tbl_sqlserver)
S3method(mutate,tbl_sqlserver)
S3method(summarise,tbl_sqlserver)
S3method(tbl,src_sqlserver)
S3method(update,tbl_sqlserver)
export(brief_desc.src_sqlserver)
export(escape_ident.SQLServerConnection)
export(sql_begin_trans.SQLServerConnection)
export(sql_commit.SQLServerConnection)
export(sql_select.SQLServerConnection)
export(src_sqlserver)
export(translate_env.src_sqlserver)
import(assertthat)
import(dplyr)
